[Unit]
Description=WLAN watcher service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/wlan_watcher.sh

[Install]
WantedBy=multi-user.target